@import url('https://fonts.googleapis.com/css2?family=Roboto');
:root{
    --clr-tomato:hsl(4, 100%, 67%);
    --clr-dsgrey:hsl(234, 29%, 20%);
    --clr-cgrey:hsl(235, 18%, 26%);
    --clr-grey:hsl(231, 7%, 60%);
    --clr-white:hsl(0, 0%, 100%);
    --ff-roboto:var(--clr-cgrey):'Roboto';
}
