@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display');
:root{
    --clr-blue50:  hsl(225, 100%, 98%);
    --clr-blue100: hsl(225, 100%, 94%);
    --clr-blue500 : hsl(245, 75%, 52%);
    --clr-blue600 : hsla(245, 76%, 48%, 0.87);
    --clr-blue300: hsl(224, 23%, 55%);
    --clr-blue700: hsl(223, 47%, 23%);   
    --clr-purple: #766cf1;
    --ff-red-hat-display: "Red Hat Display", sans-serif
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: grid;
    background-color: var(--clr-blue100);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-template-rows: 1fr auto; 
}
.container{
    font-size: 16px;
    font-family: var(--ff-red-hat-display);
    margin: 10dvh auto;
    max-width: 450px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    text-align: center;
    padding: 0 40px 30px 40px;
}
.container header{
    margin-top: 15px;
    color: var(--clr-blue700);
    font-weight:bold;
    font-size: 1.5rem;
}
.container #desc{
    max-width: 80%;
    color: var(--clr-blue300);
    font-weight: 500;
}
.container .plan{
    width: 90%;
    background: var(--clr-blue50);
    display: flex;
    column-gap: 15px;
    border-radius: 8px;
    align-items: center;
    padding: 10px 15px;

}
.plan #text-line{
    margin-right: 25%;
    color: var(--clr-blue700);
    font-weight: 900;
}
#text-line p:nth-of-type(2){
    color: var(--clr-blue300);
    font-weight: 500;
}
.plan #change{
    color: var(--clr-blue600);
    font-weight: 900;
    text-decoration: solid underline var(--clr-blue600);
    cursor: pointer;
    transition: all 0.5s;
}
.plan #change:hover{
    text-decoration: none;
    color: var(--clr-purple);
}
.container button{
    width: 90%;
    color: white;
    font-weight: 900;
    background-color: var(--clr-blue500) ;
    border: 0;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 12px 20px -3px rgba(118,108,241,0.5);
    transition: background-color 0.5s;
}
.container button:hover{
    background-color: var(--clr-purple);
}
.container #cancel{
    color: var(--clr-blue300);
    font-weight: 900;
    transition: color 0.5s;
    cursor: pointer;
}
.container #cancel:hover{
    color: var(--clr-blue700);
}

@media (max-width:500px){
    body{
        background-image: url(./images/pattern-background-mobile.svg);
        
    }
    .container{
        font-size: smaller;
        max-width: 375px;
    }
    .plan #text-line{
        margin-right: 15%;
    }
}